.bookListContainer {
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

.bookListContainer table {
    padding-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}


.button {
    display: flex;
    width: 100%;
    padding-top: 25px;  
    padding-bottom: 25px;
    font-size: 12px;
    border: none;
    background-color: red;

}

.button div:nth-child(1) {
    font-style: italic;
    text-align: left;
    width: 42%;
}

.button div:nth-child(2) {
    width: 29%;
}

.button div:nth-child(3) {
    text-align: right;
    width: 29%;

}

.red {
    color: red;
}

.green {
    color: rgb(22, 205, 22);
}

.clicked {
    background-color: black;
    color: white;
}

.none {
    background-color: white;
}