.searchForm {
    grid-column: 1/span 6;
    text-align: center;
}

.searchFormInput {
    width: 25%;
    line-height: 2.0rem;
    font-size: 1.0rem;
    margin-top: 2%;
    margin-bottom: 2%;
}

.searchResult{
    grid-column: 1/span 6;
    margin: auto;
    margin-bottom: 1em;
}