.titleImage {
  grid-column: 1 / span 6;
  margin: auto;
}

.mainMenuList {
  grid-column: 1 / span 6;
  justify-content: center;
  list-style: none;
  display: flex;
}

.mainMenuListItems {
  width: 100%;
  margin: 0em 1em 1em 1em;
}
