.searchForm {
    grid-column: 1/span 6;
    text-align: center;
    font-family: "SBAggro L";

}

.searchFormInput {
    width: 35%;
    line-height: 2.0rem;
    font-size: 1.0rem;
    border-radius: 0.5em;
    margin-bottom: 2%;
    
}

.searchResult{
    grid-column: 1/span 6;
    margin: auto;
    margin-bottom: 1em;
    font-family: "SBAggro L";
}

/* Average mobile */
@media screen and (max-width: 414px){
    .searchFormInput {
        width: 70%;
        line-height: 1.5rem;
        font-size: 1.0rem;
        margin-bottom: 0.5%;
    }
}