.loginForm {
    display: grid;
    grid-template-columns: auto;
    margin-top : 15%;
}
.loginTitle {
    text-align: center;
    color: black;
    font-size: 6em;
    font-style: italic;
}

@media screen and (max-width: 800px) {
    .loginTitle {
        font-size: 2.5em;
    }

}

.loginInput {
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 1.5%;
}

.loginInput input{
    font-size: 1em;
    margin: 4%;
    border-style: solid;
    border-color: black;
    
}

.loginBtn {
    text-align: center;
    justify-content: center;
    margin: 1.5%;

}

.loginBtn button {
    font-size: 1em;
    border-color: black;
    background-color: white;

}

.main {
    display: grid;
    grid-template-columns: auto;
}

.main div {
    text-align: center;
}

.mainTitle {
    margin-top: 10%;

}


