.login {
    box-sizing: border-box;
    margin-top: 15%;
    font-family: "SBAggro M";
    src: url("/fonts/SBAggro/SB 어그로OTF M.otf");
}
.desc {
    padding-left: 680px;
}
.container {
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 auto;
    width: 30%;
    padding: 15px;
}

.container input[type=text], .container input[type=password]{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
}

.container input[type=submit]{
    float: right;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 1em;
    margin-top: 10px;
    
}

.container label{
    padding: 15px 15px 15px 0;
    display: inline-block;
}

.row:after {
    display: table;
    content: "";
    clear: both;
}

.col25{
    width: 20%;
    float: left;
}

.col75{
    width: 80%;
    float: left;
}

.errorMsg{
    color: red;
}



