
.page{
  padding-left: 1em;
  font-size: 140%;
}

.profileImage{
  width : 80%;
  text-align: right;
}

.profileTitle{
  width: 80%;
  background : yellow;
  text-align: right;
}

.politicsTitle{
  background : rgb(130,247,130);
  width: 80%;
  text-align: right;
}

.politicsImageList{
  list-style: none;
  display:inline-flex;
  padding-left:0px;
  
}

.hobbyTitle{
  width: 80%;
  background : cyan;
  text-align: right;
}

.hobbyList{
  list-style: none;
  width: 80%;
}

.hobbyDanceFrame{
  float: left;
}

.hobbyPianoFrame{
  float: right;
}


/* average mobile */
@media screen and (max-width: 414px) {  
  .page{
    padding-left: 1em;
    font-size: 100%;
  }
  
  .profileImage{
    width : 100%;
  }
  .politicsImageList{
    flex-wrap:wrap;
    justify-content: center;
  }
  .politicsImage{
    width: 30%;
  }
  .hobbyList{
    padding-left: 0;
    width: 80%;

  }
  .hobbyDanceFrame{
    width: 80%;
  }
  .hobbyPianoFrame{
    width: 80%;
  }
  .hobbyIframe{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

/* smaill mobile */
@media screen and (max-width: 320px) {  
  .page{
    padding-left: 1em;
    font-size: 80%;
  }
  
  .profileImage{
    width : 80%;
  }

}