
.page{
  padding-left: 1em;
  font-size: 140%;
}

.profileImage{
  width : 30%;
  float: right;
  font-size: 0.8em;
  background: yellow;
  color: rgb(131, 128, 128);
  border-radius: 25px;
  margin: 10em;
  margin-top: 0em;
  margin-right: 5em;
  
}
.profileImage table{
  width : 100%; 
  margin-top: 1em;
  margin-bottom: 1em;
}

.profileImage img{
  border-radius: 25px;
  margin: auto;
  
}

.profileImage tr:nth-child(2){
  text-align: right;
}

.profileTitle{
  width: 100%;
  background : yellow;
  text-align: left;
}

.profileWorkHistory{
  font-size: 0.8em;
}

.profileDivTableTitle{
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  font-size: 2.5em;
  text-align: center;
  font-family: "Dongle";
}

.profileDivTable[role="region"][aria-labelledby][tabIndex] {
  overflow: auto;
  border: 0.1em solid #d6d6d6;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.profileDivTable[role="region"][aria-labelledby][tabIndex]:focus {
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  outline: 0.1em solid rgba(0, 0, 0, 0.1);
}

.profileDivTable table {
  margin: 1em 0;
  border-collapse: collapse;
  border: 0.1em solid #d6d6d6;
  font-family: "SBAggro L";
  color: rgb(149, 143, 143);
}

.profileDivTable caption {
  text-align: left;
  font-style: italic;
  padding: 0.25em 0.5em 0.5em 0.5em;
}

.profileDivTable strong {
  color: red;
  font-size: 1.15em;
  background-color: yellow;


}

.profileDivTable table th td {
  padding: 0.25em 0.5em 0.25em 1em;
  vertical-align: text-top;
  text-align: center;
  text-indent: -0.5em;
}

.profileDivTable th {
  vertical-align: bottom;
  background-color: rgb(255, 251, 0);
  color: rgb(0, 0, 0);
}

.profileDivTable tr:nth-child(even) th[scope="row"] {
  background-color: #f2f2f2;
}

.profileDivTable tr:nth-child(odd) th[scope="row"] {
  background-color: #fff;
}

.profileDivTable tr:nth-child(even) {
  background-color: rgba(238, 253, 22, 0.05);
}

.profileDivTable tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

.profileDivTable tr td:nth-child(1) {
  text-align: center;
  min-width: 7em;
  max-width: 70vw;
}

.profileDivTable tr td:nth-child(2) {
  text-align: center;
  min-width: 7em;
  max-width: 70vw;
}

.profileDivTable tr td:nth-child(3) {
  text-align: center;
  min-width: 7em;
  max-width: 70vw;
}

.profileDivTable tr td:nth-child(4) {
  text-align: left;
  min-width: 20em;
}

.profileDivTable tr td:nth-child(5) {
  text-align: center;
  min-width: 5em;  
}

.profileDivTable tr td:nth-child(6) {
  text-align: left;
  min-width: 12em;  
}

.profileDivTable[role="region"][aria-labelledby][tabIndex] {
  overflow: auto;
  border: 0.1em solid #d6d6d6;
}

.profileDivTable[role="region"][aria-labelledby][tabIndex]:focus {
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  outline: 0.1em solid rgba(0, 0, 0, 0.1);
}

.profileDivTable[role="region"][aria-labelledby][tabIndex] table {
  margin: 0;
  border: none;
}

/* Scrolling Visual Cue */

.profileDivTable[role="region"][aria-labelledby][tabIndex] {
  background: linear-gradient(to right, #fff 30%, rgba(255, 255, 255, 0)),
    linear-gradient(to right, rgba(255, 255, 255, 0), #fff 70%) 0 100%,
    radial-gradient(
      farthest-side at 0% 50%,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
        farthest-side at 100% 50%,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      )
      0 100%;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
  background-position: 0 0, 100%, 0 0, 100%;
  background-attachment: local, local, scroll, scroll;
}

//
.politicsTitle{
  background : rgb(130,247,130);
  width: 80%;
  text-align: right;
}

.politicsImageList{
  list-style: none;
  display:inline-flex;
  padding-left:0px;
  
}

.hobbyTitle{
  width: 80%;
  background : cyan;
  text-align: right;
}

.hobbyList{
  list-style: none;
  width: 90%;
}

.hobbyDanceFrame{
  float: left;
}

.hobbyPianoFrame{
  float: right;
}

.hobbyGameFrame{
  float: left;
}

.communicationLab{
  margin-left: 50px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.communicationInput{
  margin-left: 50px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.communicationDialogue{
  background-color: yellow;
  max-width: max-content;
  max-height: max-content;

  border: 2px solid currentcolor;
  box-shadow: 0.125rem 0.25rem currentcolor;

  margin-right:100px;
  margin-left: 50px;
  margin-bottom: 2%;
}

/* average mobile */
@media screen and (max-width: 420px) {  
  .page{
    padding-left: 1em;
    font-size: 100%;
  }
  .profileImage{
    width : 100%;
  }
  .politicsImageList{
    flex-wrap:wrap;
    justify-content: left;
  }
  .politicsImage{
    width: 30%;
  }
  .hobbyList{
    padding-left: 0;
  }
  .hobbyDanceFrame{
    width: 80%;
  }
  .hobbyPianoFrame{
    width: 80%;
  }

  .hobbyGameIframe {
   width: 100%;
   height: 220px;
  }

  .hobbyIframe{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .profileDivTable[role="region"][aria-labelledby][tabIndex] {
    overflow: auto;
    border: 0.1em solid #d6d6d6;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 0.45em;
  }

  .profileDivTable tr td:nth-child(1) {
    text-align: left;
    min-width: 7em;
    max-width: 70vw;
    font-size:0.8em;
  }

  .profileDivTable tr td:nth-child(2) {
    text-align: left;
    min-width: 7em;
    max-width: 70vw;
    font-size:0.8em;
  }

  .profileDivTable th:nth-child(3){
    text-align: left;
    display: none;
  }

  .profileDivTable tr td:nth-child(3){
    display: none;
  }

  .profileDivTable tr td:nth-child(4) {
    text-align: left;
    min-width: 10em;
    font-size:0.8em;
  }

  .profileDivTable tr td:nth-child(5) {
    text-align: center;
    min-width: 5em;
    font-size:0.8em;
  }

}