//breakPoint
$breakpoint-mobile : 420px;

.profileDivTable{
  font-family: "SBAggro M";
}

.profileDivTableTitle{
  font-size: 2.5em;
  text-align: center;
  font-family: "SBAggro M";
  margin-top: 0.3em;

}

  @media screen and (max-width:$breakpoint-mobile){
    .profileDivTableTitle{
      font-size:1.0em;
    }
  }

// 개인 이력을 보유한 테이블
.profileMainCharacter{
  z-index:1;
  position : relative;
  display: flex;
  margin : auto;
  margin-top : 5%;
  margin-bottom : 5%;
  width: 60%;

}

.profileMainCharacter p{
  z-index:0;
  padding-top: 5%;
  padding-left: 0%;
  font-size: 0.9em;
  width: 100%;
  
}

.profileMainCharacterImgDesktop {
  display: block;

}

.profileMainCharacterImgMobile{
  display: none;

}

  @media screen and (max-width: $breakpoint-mobile){
    .profileMainCharacter{
      text-align: center;
      margin-top: 10%;
      width: 100%;
      height: 20%;
      background-color: white;
      font-size: 1em;
      display: block;
    }
    
    .profileMainCharacter div{
      padding-left:0%;
      width: 100%;
      height: 100%;
    }

    .profileMainCharacter p{
      z-index:0;
      padding-top: 0%;
      padding-left: 0%;
      font-size: 0.5em;
      width: 100%;
      
    }

    .profileMainCharacterImg div{
      width: 80%;
      height: 70%;
      margin: auto;
    }

    .profileMainCharacterImgDesktop {
      
      display: none;

    }

    .profileMainCharacterImgMobile {
      width: 20%;
      display: block;

    }
    
  }

.profileMainCharacterBG{
  z-index: -1;
  position: absolute;
  float: left;
}

  @media screen and (max-width:$breakpoint-mobile){
    .profileMainCharacterBG div{
      margin-top : 20%;
      width: 100%;
      height: 70%;
    }
    .profileMainCharacterBG{
      width: 100%;
      height: 50%;
    }
  }


.profileTreeBornLeaf{
  font-size: 1.0em;

}

  @media screen and (max-width: $breakpoint-mobile){
    .profileTreeBornLeaf{
      font-size: 0.5em;

    }
  }


.profileTreeSchoolLeaf{
  justify-self: right;
  
}

.profileTreeSchoolLeaf p{
  text-align: right;

}

  @media screen and (max-width: $breakpoint-mobile){
    .profileTreeSchoolLeaf{
      font-size: 0.5em;

    }
  }

  @media screen and (max-width: $breakpoint-mobile){
  .profileTreeOfficerLeaf{
    font-size: 0.7em;
   }
  }

  .profileTreeJobLeaf{
    text-align: right;
  }

  @media screen and (max-width: $breakpoint-mobile){
  .profileTreeJobLeaf{
    font-size: 0.7em;
   }
  }

.profileTreeEntLeaf{
  justify-self: right;

}
@media screen and (max-width : $breakpoint-mobile){
  .profileTreeEntLeaf{
    font-size: 0.45em;
    text-align: right;
  }
  .profileTreeEntLeaf div{
    width: 80%;
  }
}


.profileDivTableTitle div{
  height: 10%;
  width: 100%;
  // position: relative;
}

.profileTreeWorkLeftLeaf{
  text-align: right;
}

.detailedWorkExperienceBG{
  background-color: rgb(107, 182,156);
  color: white;

}

.detailedWorkExperienceStatement{
  display: inline-block;

}

@media screen and (max-width:$breakpoint-mobile){
  .detailedWorkExperienceStatement{
    font-size: 0.5em;
  }
}

.profileTreeBGItem{
  width: 100%;
  justify-content: center;

  display: grid;
  grid-template-columns: 49% 2% 1fr;
  // grid-auto-rows: minmax(100px, 1fr);

}

.profileTreeStem{
  background-color: black;
  justify-self: center;
  width: 25%;
  color:white;
  
}

.jobTreeStem{
  background-color: black;
  justify-self: center;
  width: 15%;
  color:white;
  
}

.ktBottom{
  
  margin-bottom: 0;
}

.ktcloudProfileDivTableTitle {
  
  font-size: 2.5em;
  text-align: center;
  font-family: "SBAggro M";
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin-top: 0;

}

@media screen and (max-width:$breakpoint-mobile){
  .ktcloudProfileDivTableTitle {
    font-size: 1.2em;
  }
}

.ktcloudDetailedWorkExperienceBG {
  color: white;


}

.ktcloudDetailedWorkExperienceStatement {
  display: inline-block;
  color: black;
}

@media screen and (max-width:$breakpoint-mobile){
  .ktcloudDetailedWorkExperienceStatement{
    font-size: 0.5em;
  }
}

.ktcloudProfileTreeWorkLeftLeaf {
  text-align: right;
}

.ktcloudProfileTreeBGItem {
  width: 100%;
  justify-content: center;

  display: grid;
  grid-template-columns: 49% 2% 1fr;

}