//breakPoint
$breakpoint-mobile : 420px;

.profileDivTableTitle{
  font-size: 2.5em;
  text-align: center;
  font-family: "SBAggro M";
  margin-top: 0.3em;

}

  @media screen and (max-width:$breakpoint-mobile){
    .profileDivTableTitle{
      font-size:1.0em;
    }
  }

// 개인 이력을 보유한 테이블
.profileMainCharacter{
  z-index:0;
  position : absolute;
  display: inline-flex;
  margin-top : 13%;
  width: 100%;

}

  @media screen and (max-width: $breakpoint-mobile){
    .profileMainCharacter{
      margin-top: 50%;
      width: 100%;
      background-color: white;
    }
    .profileMainCharacter div{
      padding-left:5%;
      width: 100%;
      height: 90%;
    }
  }

.profileMainCharacter p{
  z-index:0;
  padding-top: 5%;
  padding-left: 1%;
  font-size: 0.9em;
  width: 100%;
  
}
  @media screen and (max-width: $breakpoint-mobile){
    .profileMainCharacter p{
      font-size: 0.4em;
    }
  }

.profileMainCharacterBG{
  z-index: -1;
  position: absolute;
  float: left;
}

  @media screen and (max-width:$breakpoint-mobile){
    .profileMainCharacterBG{
      width: 100%;
      height: 100%;
    }
  }


.profileTreeBornLeaf{
  font-size: 1.0em;

}

  @media screen and (max-width: $breakpoint-mobile){
    .profileTreeBornLeaf{
      font-size: 0.8em;

    }
  }

  @media screen and (max-width: $breakpoint-mobile){
  .profileTreeOfficerLeaf{
    margin-top:130%;
    font-size: 0.5em;
   }
  }

  @media screen and (max-width: $breakpoint-mobile){
  .profileTreeJobLeaf{
    font-size: 0.7em;
   }
  }

.profileTreeEntLeaf{
  justify-self: right;

}
@media screen and (max-width : $breakpoint-mobile){
  .profileTreeEntLeaf{
    font-size: 0.45em;
    text-align: right;
  }
  .profileTreeEntLeaf div{
    width: 80%;
  }
}


.profileDivTableTitle div{
  height: 10%;
  width: 100%;
  // position: relative;
}

.profileTreeWorkLeftLeaf{
  text-align: right;
}

.detailedWorkExperienceBG{
  background-color: rgb(55,125,34);
  color: white;

}

.detailedWorkExperienceStatement{
  display: inline-block;

}

@media screen and (max-width:$breakpoint-mobile){
  .detailedWorkExperienceStatement{
    font-size: 0.5em;
  }
}

.profileTreeBGItem{
  width: 100%;
  justify-content: center;

  display: grid;
  grid-template-columns: 49% 2% 1fr;
  // grid-auto-rows: minmax(100px, 1fr);

}

.profileTreeStem{
  background-color: black;
  justify-self: center;
  width: 25%;
  color:white;
  
}

.jobTreeStem{
  background-color: black;
  justify-self: center;
  width: 15%;
  color:white;
  
}


