.form {
    grid-column: 1/span 6;
    text-align: center;
}

.searchInput {
    width: 25%;
    line-height: 2.0rem;
    font-size: 1.0rem;
    margin-bottom: 2%;
}

.searchResult{
    width: 60%;
    margin: auto;
    text-align: left;
}

@media screen and (max-width: 800px) {
    .searchInput {
        width: 60%;
        line-height: 1.3rem;
        font-size: 1.3rem;
    }
}
.result {
    grid-column: 1/span 6;
    text-align: center;
}