.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  text-align: center;
  background-color: black;
}

.header {
  grid-column: 3/span 2;
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto;
  background-color: chartreuse;
}

.headerleft {
  display:flex;
  align-items: center;
  justify-self: right;
  text-align: right;
  grid-column: 1 / span 2;
  background-color: aqua;
}

.headercenter {
  display:flex;
  align-items: center;
  justify-content: center;
  grid-column: 3 / span 2;
  background-color: blueviolet;
}

.headerright {
  display:flex;
  align-items: center;
  justify-self: left;
  text-align: left;
  grid-column: 5 / span 2;
  background-color: brown;
}