.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  align-items: center;
  margin-top:5%
}


.header {
  display: grid;
  grid-column: 1 / span 6;
  grid-template-columns: auto auto auto auto auto auto;
  
}

.headerTitle {
  width: 250px;
  grid-column: 1 / span 6;
  justify-self: center;
  margin-bottom: 2%;
}

@media screen and (max-width: 1024px) {
.headerTitle {
  width: 200px;
}
}

@media screen and (max-width: 736px) {
.headerTitle {
  width: 100px;
}
}

.headerBody {
  grid-column: 1 / span 6;
}


