.colorInherit {
  color: inherit;
}
.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: auto;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.heading2Xlg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.headingSmall {
  font-size: 0.8rem;
  line-height: 1.5;
}
.padding1px {
  padding-top: 1px;
}

.titleImage {
  border-radius: 9999px;
}

.list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width:"100%";
  list-style: none;
  margin: 0;
}

.listItem {
  margin: 0.5rem;
  width: 40%;
  justify-content: center;
  
}

@media screen and (max-width: 1366px) {
 .listItem {
  margin: 0.5rem;
  width: 15%;
  justify-content: center;
  
} 
}


@media screen and (max-width: 1024px) {
 .listItem {
  margin: 0.5rem;
  width: 15%;
  justify-content: center;
  
} 
}

@media screen and (max-width: 1080px) {
 .listItem {
  margin: 0.5rem;
  width: 15%;
  justify-content: center;
  
} 
}

@media screen and (max-width: 800px) {
 .listItem {
  margin: 0.5rem;
  width: 13%;
  justify-content: center;
} 
}

@media screen and (max-width: 768px) {
 .listItem {
  margin: 0.5rem;
  width: 32%;
  justify-content: center;
} 
}

@media screen and (max-width: 736px) {
 .listItem {
  margin: 0.5rem;
  width: 10%;
  justify-content: center;
} 
}

@media screen and (max-width: 414px) {
 .listItem {
  margin: 0.5rem;
  width: 25%;
  justify-content: center;
} 
}

.lightText {
  color: #666;
}
